#hero {
  background: url(../../../../assets/hero.png) center/cover;
}

#hero .container {
  padding: 100px 50px;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero .links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 960px) {
    justify-content: center;
  }
}
