#error404 {
  background: url(../../../assets/hero.png) center/cover;

  padding: 100px 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
